$bg: #232323;
$color: #fff;
$link-color: #fff;

$primary: #f24738;
$secondary: #023852;
$tertiary: #851934;

/* nav */
$nav-bg: #023852;
$nav-link-color: #fff;
$nav-link-hover-color: #d2dae5;
$nav-font: 400 15px/60px "PremierSans-Bold";

/* buttons */
$btn-primary: #05f26c;
$btn-primary-hover: #00cc6c;
$btn-primary-color: #023852;
$btn-primary-hover-color: #023852;

$btn-secondary: #023852;
$btn-secondary-hover: #080009;
$btn-secondary-color: #fff;
$btn-secondary-hover-color: #fff;
$btn-font: 400 12px/18px "PremierSans-Bold";
$btn-font-normal: 400 12px/18px "PremierSans-Regular";

/* homepage */
$homepage-filters-border: #f24738;
$homepage-filters-bg: #f24738;
$homepage-filters-color: #fff;
$homepage-filters-active-color: #fff;
$homepage-filters-font: 400 12px/18px "PremierSans-Bold";
$homepage-blocks-bg: transparent;
$homepage-matchlist-border: #3e3e3e;
$homepage-matchlist-text-light: #00cc6c;
$homepage-matchlist-link: #cacaca;
$homepage-matchlist-hover-bg: #851934;
$homepage-matchlist-hover-color: #fff;
$homepage-register-box-bg: #023852;
$homepage-register-box-color: #fff;

$matchList-hover-bg: #851934;
$matchList-hover-color: #fff;
$matchList-border-color: #3e3e3e;
$matchList-text-light: #00cc6c;
$atchList-link: #cacaca;

$account-register-bg: transparent;
$account-register-color: #8a8aa1;
$account-register-border: #e6e6e8;
$account-social-bg: #edeff5;
$account-tokens-bg: #edeff5;
$account-profile-details-bg: #f24738;
$account-profile-subdetails-bg: #f24738;
$account-profile-bg: #fff;
$account-border: #e6e6e8;
$account-color: #8a8aa1;
$account-tabs-bg: #f24738;
$account-tabs-color: #fff;
$account-tabs-bg-active: #fff;
$account-tabs-color-active: #f24738;
$account-bet-border: #edeff5;
$account-label-color: #8a8aa1;

$match-header-overlay: rgba(2, 56, 82, 0.5);
$match-header-content-bg: rgba(2, 56, 82, 0.95);
$match-header-content-color: #fff;
$match-form-bg: #f24738;
$match-chance-first: #65dc9f;
$match-chance-second: #f24738;
$match-stats-chart: #65dc9f;

$teams-bg: $bg;

$games-bg: $bg;

/* brands colors */
$google-plus: #dd4b39;
$facebook: #3b5998;

$alert-error: #f24738;
$alert-success: #65dc9f;
