$font-primary: "Nunito", sans-serif;
$font-bold: "Nunito", sans-serif;
$font-light: "Nunito", sans-serif;
$font-headline: "Lato", sans-serif;
$btn-font: 800 12px/18px "Nunito";
$btn-font-normal: 400 12px/18px "Nunito";
$nav-font: 800 15px/60px "Nunito";
$homepage-filters-font: 800 12px/18px "Nunito";
.typo {
  &__h1 {
    font: 800 26px/36px "Nunito";
    &--username {
      color: $secondary;
    }
  }
  &__h2 {
    font: 800 18px/24px Nunito;
    margin-bottom: 15px;
    color: #74fa93;
    &--matchday {
      font-size: 16px;
      margin: 0 0 20px;
    }
    &--match {
      font: normal 24px/30px $font-bold;
      margin: 80px 0 50px;
      text-align: center;
    }
  }
}

/*
font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Titillium Web', sans-serif;
*/
