.match {
  &__stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    max-width: 980px;
    margin: 50px auto;
  }
  &__stat {
    background: #133850;
    padding: 30px;
  }
  &__statHeader {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    img {
      max-width: 35px;
      margin-right: 20px;
    }
    .btn {
      margin: 0 0 0 auto;
    }
  }
  &__statChart {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: $match-stats-chart;
  }
  &__statContainer {
    border-radius: 50%;
    display: inline-block;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 15px 1px $match-stats-chart;
  }
  &__statWrapper {
    display: inline-block;
  }
  &__winRate {
    text-align: center;
    font: normal 13px/15px $font-bold;
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background: $primary;
    &Content {
      z-index: 10;
      position: relative;
      background: #133850;
      height: 70px;
      width: 70px;
      margin: 15px 0 0 15px;
      border-radius: 50%;
      padding-top: 22px;
    }
    strong {
      opacity: 0.8;
      text-transform: uppercase;
      font: normal 11px/12px $font-primary;
      display: block;
    }
  }
}
